<!DOCTYPE html>
<html>
<head>
	<style>
		.fav_movies td {
			color: orange;
		}
	</style>
	<script type="text/javascript">
		function dohvatiFilmove() {
			console.log("Dohvacam...");

			var xmlhttp = new XMLHttpRequest();
			xmlhttp.onreadystatechange = function() {
			  if (this.readyState == 4 && this.status == 200) {
				var movieListObject = JSON.parse(this.response);
				var movieListHtml = formatirajJsonHtml(movieListObject);
				document.getElementById("fav_movies").innerHTML = movieListHtml;
			  }
			};

			xmlhttp.open("GET", "/movies", true);
			// xmlhttp.setRequestHeader("Content-type", "apptdcation/x-www-form-urlencoded");
			xmlhttp.send();

		}

		function formatirajJsonHtml(jsonMovies) {
			var htmlZaPrikazati = '<table align="left" border="1" cellpadding="0" cellspacing="4" class="fav_movies">' 
										+ "<th>Title </th>"
										+ "<th>Year </th>"
										+ "<th>Genre </th>"
										+ "<th>IMDb rating </th>";
		    
			jsonMovies.forEach((movie, index) => {

				htmlZaPrikazati += "<tr><td>" + movie.name + "</td><td>" + movie.year 
		      + "</td><td>" + movie.genre + "</td><td>" +  movie.rating + "</td></tr>";	
			})

		    htmlZaPrikazati += "</table>";

		    return htmlZaPrikazati;
		}
	</script>
</head>

<body>

<h2>Favourite movies:</h2>


<button onclick="dohvatiFilmove()">Dohvati filmove</button>
<p id="fav_movies"></p>



</body>
</html>
